<section class="container">
  <div class="card register-card">
    <h2>Create your account</h2>
    <p class="subtitle">Join and build your flow</p>

    <form class="register-form">

      <input type="text" placeholder="First Name" />

      <input type="text" placeholder="Last Name" />

      <input type="email" placeholder="Email" />

      <input type="number" placeholder="Age" />

      <input type="password" placeholder="Password" />

      <input type="password" placeholder="Repeat Password" />

      <button class="btn full-btn">Register</button>

    </form>
  </div>
</section>