<footer class="footer">
  <div class="footer-container">

    <div class="footer-brand">
      <h3>P.O.P.S.</h3>
      <p>Balance your body and mind through mindful movement.</p>
    </div>

    <div class="footer-links">
      @if(!isLoggedIn()) {
      <a routerLink="/home">Home</a>
      } @else {
      <a routerLink="/dashboard">Dashboard</a>
      }
      <a routerLink="/sessions-home">Sessions</a>
      <a routerLink="/categories-home">Categories</a>
    </div>

    <div class="footer-meta">
      <p>© 2026 P.O.P.S. flow</p>
      <p>Power. Oxygen. Posture. Stretch.</p>
    </div>

  </div>
</footer>