<header class="site-header">
  <div class="header-container container">

    <a class="brand" routerLink="/home">
      P.O.P.S.
    </a>

    <nav class="nav">
      <a routerLink="/home" routerLinkActive="active">Home</a>
      <a routerLink="/sessions-home" routerLinkActive="active">Sessions</a>
      <a routerLink="/categories-home" routerLinkActive="active">Categories</a>
      <a routerLink="/dashboard" routerLinkActive="active">Dashboard</a>
      <a routerLink="/login" routerLinkActive="active">Login</a>
      <a routerLink="/register" routerLinkActive="active">Register</a>
    </nav>

  </div>
</header>