<header class="site-header">
  <div class="header-container container">

    <a class="brand" routerLink="/home">
      P.O.P.S.
    </a>

    <nav class="nav">
      <a routerLink="/sessions-home" routerLinkActive="active">Sessions</a>
      <a routerLink="/categories-home" routerLinkActive="active">Categories</a>

      @if(!isLoggedIn()) {
      <a routerLink="/login" routerLinkActive="active">Login</a>
      <a routerLink="/register" routerLinkActive="active">Register</a>
      } @else {
      <a routerLink="/dashboard" routerLinkActive="active">Dashboard</a>
      <a class="logout-link" (click)="onLogout()">Logout</a>
      }



    </nav>

  </div>
</header>