<header class="site-header">
  <div class="header-container container">

    <a class="brand" routerLink="/">
      P.O.P.S.
    </a>

    <nav class="nav">
      <a routerLink="/" routerLinkActive="active">Home</a>
      <a routerLink="/sessions" routerLinkActive="active">Sessions</a>
      <a routerLink="/categories" routerLinkActive="active">Categories</a>
      <a routerLink="/dashboard" routerLinkActive="active">Dashboard</a>
      <a routerLink="/login" routerLinkActive="active">Login</a>
    </nav>

  </div>
</header>